.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    color: #010101;
    font-size: 20px;
    font-weight: 500;
  }